.repositories__section{
    width: 75%;
    flex: 0 0 75%;
}

.repositories__title{
    display: flex;
    align-items: center;
}
.repositories__title span{
    display: inline-block;
    width: 20px;
    height: 3px;
    margin: 5px 10px 0;
    background-color: #353535;
}

.repositories{
    display: flex;
    gap: 15px;
    -webkit-gap: 15px;
    -moz-gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.load-more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    cursor: pointer;
}
.load-more__text{
    font-size: 1.05rem;
    font-weight: bold;
    color: #707070;
    margin: 0;
    padding: 0.5rem 1rem;
}
.load-more__icon{
    color: #707070;
}
.load-more__icon svg{
    width: 30px;
    margin-top: 5px;
}