.repositoryitem{
    width: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 3px 20px #f3f3f3;
    background-color: #ffffff;
}

.repositoryitem__desc{
    color: #707070;
}

.repository-info,
.repository-info__item{
    display: flex;
    align-items: center;
}

.repository-info{
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
}

.repository-info__item{
    padding-right: 1.2rem;
}

.repositoryitem__title{
    margin-top: 0;
}

.repository-info__icon svg{
    width: 15px;
}

.repository-info__text{
    margin: 0;
    padding-left: 0.5rem;
}

.topics{
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}
.topics__item{
    padding: 0.35rem 0.5rem;
    margin: 3px;
    border-radius: 3px;
    background-color: #f0f0f0;
}

@media (max-width: 880px) {
    .repositoryitem{
        width: 100%;
        flex: 0 0 100%;
    }
}