.footer{
    margin-top: 3rem;
    padding: 1rem 2rem;
    background-color: #f0f0f0;
}
.footer__text{
    margin: 0;
}

@media (max-width: 556px) {
    .footer__text{
        text-align: center;
        font-size: 1rem;
    }
}