@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Poppins:wght@300&display=swap');

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem ;
}

.header__left,
.header__right{
    display: flex;
    align-items: center;
}

.header__logo{
    margin-right: 1rem;
}

.header__title{
    font-family: 'Inconsolata', monospace;
}

.btn-black{
    background-color: #212121;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
}