.avatar__section{
    display: flex;
    align-items: center;
}

.avatar__image{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-right: 1rem;
    border-radius: 50%;
}
.avatar__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-aboutus{
    padding: 2rem 0;
    color: #707070;
}