.profile__section{
    width: 25%;
    flex: 0 0 25%;
    padding: 2rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 3px 20px #f3f3f3;
    transition: box-shadow 200ms; 
}

@media (max-width: 556px) {
    .profile__section{
        width: 100%;
        flex: 0 0 100%;
    }
}