.app__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem 2rem;
}

@media (max-width: 556px) {
    .app__container{
        flex-wrap: wrap;
        gap: 0;
        padding: 1rem 0.5rem;
    }
}
